
/*====== Design Palette ====== */
:root {
  --paper: #ffffff;
  --color: #000;
  --ink: #333; 
  --font: 100%/1.5 system-ui;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px;
}
/* ====== Base Elements ======
 General rules for basic HTML elements in any context */
body {
  background-color: #e5fffd;
  color: #333;
}

/* ===== main heading ======*/

h1 { text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
    margin: 20px 0;
    font-weight: bold;
}

/* ====== Articles Grid Layout ====
Makes sure the first article goes the full width of the page and the image 2 and image 3 are next to each other
*/
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 15px;
}

  
/* ====== Article Layout ====== 
Setting the rules for how elements are placed in the article. 
so text is centred under the first image and left-aligned on images 2 and 3
*/

/* Make the first article span both columns */
main article:first-child {
  grid-column: span 2; /* spans full width */
  text-align: center;
}
.article {
  text-align: left;
  }



/* ====== Styling for images ====== */

.article-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}


/* ====== Styling for captions for figures ====== */

figcaption {
  text-align: center;   /* Centers the caption text */
  font-style: italic;   /* Optional: makes it look like a caption */
  margin-top: 8px;      /* Space between image and caption */
  color: var(--ink);    /* Keeps it consistent with your text color */
  font-size: 0.9rem;    /* Slightly smaller than body text */
}


/* ====== Buttons  Layout ====== this makes the more information links look like buttons
*/

article a {
  display: inline-block;
  padding: 10px 20px;
  background-color: hsl(226, 61%, 41%); /* green button */
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

article a:hover {
  background-color: #e7fff3;
  color: #e5fffd;
}

a:focus {
  outline: 3px solid rgba(0, 150, 100, 0.3);
  outline-offset: 2px;
}
/* ====== Footer  Layout ====== */

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  margin: 0;
  grid-column: span 2;
}

