
/*====== Design Palette ====== */
:root {
  --paper: #ffffff;
  --color: #000;
  --ink: #333; 
  --font: 100%/1.5 system-ui;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px;
}
/* ====== Base Elements ======
 General rules for basic HTML elements in any context */
body {
  background-color: #e5fffd;
  color: #333;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
 }

/* ===== main heading ======*/

header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  
  }

h1 { 
  font-size: 5rem;
  letter-spacing: 2px;
  margin: 20px 0 0 0;
  font-weight: bold;
}

header p {
  font-size: 1.2rem;
  margin: 0 0px 0px 0px;
  color: var(--ink);
  }

/* ====== Articles Grid Layout ====
Makes sure the first article goes the full width of the page and the image 2 and image 3 are next to each other
*/
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 20px;
}

 /* ====== Article Layout ====== 
Setting the rules for how elements are placed in the article. 
so text is centred under the first image and left-aligned on images 2 and 3
*/

/* Make the first article span both columns */
main article:first-child {
  grid-column: span 2; /* spans full width */
  text-align: left;
  border: var(--line);
  padding: 30px 30px 80px 30px;
}
.article {
  text-align: left;
  border: var(--line);
   padding: 30px 30px 30px 30px;
  }

  /* ====== Styling for images ====== */

.article-image {
 display: block;
 margin: 0 auto;
 max-width: 100%;
 height: auto;
}

/* ====== Buttons  Layout ====== this makes the more information links look like buttons
*/

article a {
  display: inline-block;
  padding: 10px 20px;
  background-color: hsl(226, 61%, 41%); /* green button */
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

article a:hover {
  background-color: #e7fff3;
  color: #e5fffd;
}

a:focus {
  outline: 3px solid rgba(0, 150, 100, 0.3);
  outline-offset: 2px;
}
/* ====== Footer  Layout ====== */

footer { position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #fff;
}

